<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="Component" value="zQueueManager"/>
	<variable name="Layout" value="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffK}|${pad:padding=3:Inner=${threadid}}|${uppercase:${log-level}}|${Component}|${logger:shortName=true}|Tenant=${uppercase:${event-properties:item=Tenant}}|AuthAccountId=${event-properties:item=Auth-Account-Id}|CorrelationRequestId=${event-properties:item=Correlation-Request-Id}|HandlerId=${event-properties:item=HandlerId}|HandlerName=${event-properties:item=HandlerName}|QueueName=${event-properties:item=QueueName}|MessageId=${event-properties:item=MessageId}|${message}${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=toString}" />

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Console" name="defaultConsoleLogging" layout="${Layout}" />

		<!-- File Target for all log messages with basic details 
		<target xsi:type="File" name="allfile" fileName="./logs/nlog-AspNetCore-all-${shortdate}.log"
            layout="${Layout}" />
		-->


		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers 
		<target xsi:type="File" name="ownFile-web" fileName="./logs/nlog-AspNetCore-own-${shortdate}.log"
            layout="${Layout}" />
		-->

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<!--<target xsi:type="Console" name="lifetimeConsole" layout="${Layout}" />-->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="defaultConsoleLogging" />

		<!--Output hosting lifetime messages to console target for faster startup detection 
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		-->

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) 
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		-->

		<!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
	</rules>
</nlog>